<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Notes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Lab2 - App Secure Notes</h1>
        <div class="buttons">
            <a href="/login" class="btn">Đăng Nhập</a>
            <a href="/register" class="btn">Đăng Ký</a>
        </div>
    </div>
</body>
</html>
